{% load static %}

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('{% static 'assets/img/quote1.jpg' %}')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>"Человек, который никогда не ошибался, никогда не пробовал ничего нового"</h2>
                <p class="lead mb-0">© Альберт Эйнштейн</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img"
                 style="background-image: url('{% static 'assets/img/quote2.jpeg' %}')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>"Вы смелее, чем думаете, сильнее, чем кажетесь, и умнее, чем думаете"</h2>
                <p class="lead mb-0">© А.А.Милн</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('{% static 'assets/img/quote3.png' %}')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>"Все кажется невозможным, пока не будет сделано"</h2>
                <p class="lead mb-0">© Нельсон Мандела</p>
            </div>
        </div>
    </div>
</section>